<div class="weather panel panel-primary">
    <div class="panel-heading">       
        {{weatherRecord.city.name}}, {{weatherRecord.city.country}}
         <small>
            Lon: {{weatherRecord.city.coord.lon | number:2}} 
            Lat: {{weatherRecord.city.coord.lat | number:2}} 
        </small>            
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-4 col-sm-2 col-md-2" style="font-size:30px">
                {{weatherRecord.list[0].temp.day | celsius | number:1}}&#176;C
            </div>
            <div class="col-xs-3 col-sm-2 col-md-1">
                <img ng-src="{{getImageUrl(weatherRecord.list[0].weather[0].icon)}}" />
            </div>
            <div class="col-xs-5 col-sm-8 col-md-9 text-primary">
                {{weatherRecord.list[0].weather[0].main}}
            </div>
        </div>
        <div class="row">


        </div>

        <p>
            &nbsp;&#126;&nbsp; High: {{weatherRecord.list[0].temp.max | celsius | number:1}}&#176;C&nbsp;&#126;&nbsp; Low: {{weatherRecord.list[0].temp.min | celsius | number:1}}&#176;C
        </p>
        <small>
            Pressure: {{weatherRecord.list[0].pressure}} hPa&nbsp;&#126;&nbsp;
            Humidity: {{weatherRecord.list[0].humidity}}%
        </small>
    </div>
</div>
